* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.shopper {
  text-transform: lowercase;
  font: 2em "Shopper", sans-serif;
  line-height: 0.5em;
  display: inline-block;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5em;
}

p {
  font-size: 1.5em;
  color: #8a8a8a;
}

input {
  border: 0.3em round #bbc3c6;
  border-radius: 10px;
  padding: 0.5em 0.3em;
  font-size: 1.4em;
  color: #8a8a8a;
  text-align: center;
}

.productImage {
  max-width: 9em;
  width: 100%;
  overflow: hidden;
  margin-right: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 75em;
  width: 95%;
  margin: 40px auto;
  margin-top: 10%;
  overflow: hidden;
  position: relative;

  border-radius: 0.6em;
  background: #ecf0f1;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.heading {
  padding: 1em;
  position: relative;
  z-index: 1;
  color: #f7f7f7;
  background: #33383b;
}

.cart {
  margin: 2.5em;
  overflow: hidden;
}

.cart.is-closed {
  height: 0;
  margin-top: -2.5em;
}

.table {
  background: #ffffff;
  border-radius: 0.6em;
  overflow: hidden;
  clear: both;
  margin-bottom: 1.8em;
}

.layout-inline > * {
  display: inline-block;
}

.align-center {
  text-align: center;
}

.th {
  background: #33383b;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.tf {
  background: #33383b;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.2em;
}

.tf p {
  color: #fff;
  font-weight: bold;
}

.col {
  padding: 1em;
  width: 12%;
}

.col-pro {
  width: 44%;
}

.col-pro > * {
  vertical-align: middle;
}

.col-qty {
  text-align: center;
  width: 17%;
}

.col-numeric p {
  font: bold 1.8em helvetica;
}

.col-total p {
  color: #8a8a8a;
}

.tf .col {
  width: 15%;
}

.row > div {
  vertical-align: middle;
}

.row-bg2 {
  background: #f7f7f7;
}

.visibility-cart {
  position: absolute;
  color: #fff;
  top: 0.5em;
  right: 0.5em;
  font: bold 2em arial;
  border: 0.16em solid #fff;
  border-radius: 2.5em;
  padding: 0 0.22em 0 0.25em;
}

.col-qty > * {
  vertical-align: middle;
}

.col-qty > input {
  max-width: 2.6em;
}

a.qty {
  width: 1em;
  line-height: 1em;
  border-radius: 2em;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background: #43ace3;
  color: #fff;
}

a.qty:hover {
  background: #3b9ac6;
}

.btn {
  padding: 10px 30px;
  border-radius: 0.3em;
  font-size: 1.4em;
  font-weight: bold;
  background: #43ace3;
  color: #fff;
  box-shadow: 0 3px 0 rgba(59, 154, 198, 1);
}

.btn:hover {
  box-shadow: 0 3px 0 rgba(59, 154, 198, 0);
}

.btn-update {
  float: right;
  margin: 0 0 1.5em 0;
}

.transition {
  transition: all 0.3s ease-in-out;
}

.deleteIcon {
  max-width: 20px;
  max-height: 20px;
  position: relative;
  cursor: pointer;
}
.editIcon {
  max-width: 20px;
  max-height: 20px;
}

.iconButton {
  border: solid 1px;
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  background: none;
}

.iconButton:hover,
#button-helper:hover {
  border-color: #0067ff;
  background: #0067ff;
  color: #fff;
  text-decoration: none;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.2s ease-in-out;
}

#button-helper {
  border-radius: 20px;
  border: 1px solid #33383b;
  background-color: #33383b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: block;
  float: right;
  cursor: pointer;
}

.shell {
  min-height: 69.5vh;
}
button:hover {
  cursor: pointer;
}

.col-total {
  color: white;
  padding: 1em;
  width: 12%;
}

@media screen and (max-width: 755px) {
  .container {
    margin-top: 40%;
    width: 98%;
    font-size: 0.75em;
  }

  .col-pro {
    width: 35%;
  }

  .col-qty {
    width: 22%;
  }
  p {
    font-size: 1em;
  }
  img {
    max-width: 100%;
    margin-bottom: 1em;
  }
  .col-total {
    font-size: 1em;
  }
  .tf .col {
    width: 15%;
    float: left;
  }
  .deleteIcon{
    margin-bottom: 6%;
  }
}

@media screen and (max-width: 591px) {
}
