* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: gainsboro;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
  display:inline-block;
}


#button-helper {
  border-radius: 20px;
  border: 1px solid #33383b;
  background-color: #33383b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  display: block;
}


.buttons-div {
  margin-left: 30%;
  display: flex;
}
.buttons-div-second {
  display: flex;
}

th,
td {
  padding: 10px;
  width: 5%;
  border: solid 1px lightgray;
}

table {
  border-collapse: collapse;
}

.highlighted {
  background-color:gainsboro;
}

.deleteIcon{
  max-width: 20px;
  max-height: 20px;
}
.editIcon{
  max-width: 20px;
  max-height: 20px;
}

.iconButton{
  border: solid 1px;
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  background: none;
}

.iconButton:hover,#button-helper:hover{
  border-color: #0067ff;
  background: #0067ff;
  color: #fff;
  text-decoration:none;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.2s ease-in-out;
}

.error {
  color:red;
}