@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

* {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

/* Add padding to containers */
.container {
  padding: 16px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: gainsboro;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
  display:inline-block;
}


#button-helper {
  border-radius: 20px;
  border: 1px solid #33383b;
  background-color: #33383b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}


.buttons-div {
  margin-left: 30%;
  display: flex;
}
.buttons-div-second {
  display: flex;
}

th,
td {
  padding: 10px;
  width: 5%;
  border: solid 1px lightgray;
}

table {
  border-collapse: collapse;
}

.highlighted {
  background-color:gainsboro;
}

.deleteIcon{
  max-width: 20px;
  max-height: 20px;
}
.editIcon{
  max-width: 20px;
  max-height: 20px;
}

.iconButton{
  border: solid 1px;
  border-radius: 100%;
  min-width: 40px;
  min-height: 40px;
  background: none;
}

.iconButton:hover,#button-helper:hover{
  border-color: #0067ff;
  background: #0067ff;
  color: #fff;
  text-decoration:none;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  transition: all 0.2s ease-in-out;
  cursor:pointer;
}

a:hover {
  cursor:pointer;
 }

.menuButton:hover{
    cursor:pointer;
}
.error {
  color:red;
}

.shell {
  margin-bottom: 3%;
  min-height: 66.5vh;
}

textarea {
  resize: vertical;
  max-width: 100%; 
  max-height: 100%;
}

.containerChatBox {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 20px;
  margin: 10px 0;
}
.span-right {
  float: right;
  color: #aaa;
}
.span-left {
  float: left;
  color: darkgrey;
}
.message {
  border: none;
  border-bottom: 2px solid #dedede;
  background-color: #f1f1f1;
  padding-bottom: 20px;
}

.adminUser{
  color: red;
}

.managerUser {
  color: #FF9800;
}

.menuButton {
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #33383b;
  background-color: #33383b;
  color: #ffffff;
  font-size: 12px;
  padding: 12px 45px;
}

.menuForm {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 3px;
}

.menuBar * {
  box-sizing: border-box;
  size: 200px;
  border: 1px solid #33383b;
  background-color: #33383b;
  color: #ffffff;
  font-size: 110%;
  padding: 12px 45px;
}
.menuBar li {
  display:block;
  float:left;
  list-style: outside none none;
  padding: 0;
  padding-left: 0.95em;
  padding-right: 1.5em;
}

.menuBar a {
  padding: 0.5em 0;
  color: white;
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.menuBar a:before,
.menuBar a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menuBar a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #FF9800;
}
.menuBar a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #FF9800;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.menuBar a:hover:before,
.menuBar .current a:before {
  opacity: 1;
  width: 100%;
}
.menuBar a:hover:after,
.menuBar .current a:after {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #FF9800;
  color: #ffffff;
  text-align: left;
}


tbody tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: gainsboro;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #FF9800;
}
tbody tr.active-row {
  font-weight: bold;
  color: #FF9800;
}

.openTicket {
  background-color: green !important;
}

.closedTicket {
  background-color: red !important;
}
