@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i");

* {
  margin: 0;
  padding: 0;
}

body {
  height: auto;
  background-size: cover;
  font-family: "Muli", sans-serif;
  margin-top: 10%;
  background-color: gainsboro;
}

.logo {
  width: 40%;
  height: 40%;
}

.header {
  background-color: #33383b;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  z-index: 90 !important;
}

.header * {
  display: inline;
}

.header li {
  margin: 20px;
}

.header li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

.header li a:hover {
  color: #ff9800;
  font-weight: bold;
}

.right-navbar {
  float: right;
  padding-left: 40%;
  display: block !important;
}

.left-navbar {
  padding-left: 3%;
}

.icon {
  display: none; 
}

@media screen and (max-width: 755px) {
  .logo {
    width: 50%;
    height: 50%;
  }
  .icon {
    display: block; 
  }
  .left-navbar{
    width: 100%;
  }
  .right-navbar {
    display:none ;
    padding: 0;
    list-style: none;

  }
  .left-navbar{
    padding: 0;
    float: none;
  }

  ul {
    width: 100%;
    display: block;
    text-align: center;
    float: left;
  }
  .header{
    overflow: visible;
    display: block;
    font-size: 1em;
  }
  .header li {
    margin: 0.7em;
  }
  .menuBar{
    margin-top: 15%;
  }
  .container {
    width: 99%;
  }
  table {
  }

}

