@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');


* {
  margin:0;
  padding:0;
  }

body {
  height: auto;
  background-size: cover;
  font-family: 'Muli', sans-serif;
  margin-top: 10%;
  background-color: gainsboro;
}

.logo{
  width: 100px;
  height: 50px;
}

.header {
  background-color: #33383b;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 8%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  
}

.header * {
  display: inline;
}

.header li {
  margin: 20px;
}

.header li a {
  color: white;
  text-decoration: none;
  
}

.header li a:hover {
  font-weight:bold;
}

.right-navbar{
  float:right;
  padding-left:60%;
}

.left-navbar{
  padding-left:3%;
}